
.container-home{
    font-family: 'Rubik'; 
}
.container-bg-content{
    background-image: url(./Img/bg-coffe.png);
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    min-height: 645px;
    position: relative;

}
/* headbar */
.headbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 129px;
}
@media only screen and ( min-width: 0px){
    .login-headbar{
        margin-left: 3%;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        color: black;
    }
    
}
@media only screen and (min-width: 1000px) {
    .login-headbar{
        margin-left: 8%;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        color: black;
    }
    
  }

.container-button-headbar {
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}
.logo-headbar{
    margin-left: 10%;
}

/* navbar */
.navbar{
    background-color:  #f8f8f8;
    background-size: cover;
}
.container-navbar{
    display: flex;
    margin-top: 2px;
}
.p-navbar{
    width: 340px;
    line-height: 2;
}
.container-poduct{
    margin-top: 20px;
    line-height: 1;
    margin-right: 126px;
}
.container-logo-sosmed{
    margin-left: 10%;
    margin-right: 40%;
    
}
.container-logo-sosmed .credit{
    color: #AFB5C0;
    margin-top: 30px;

}
.container-sosmned{
    display: flex;
    flex-direction: row;
}
.content-sosmed .circle{
    width: 55px;
    height: 55px;
    display: flex;
    background: #FFBA33;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
/* @media only screen and ( min-width: 0px) {
    .headbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 129px;
    }
    .login-headbar{
        margin-left: 1%;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        color: black;
    }
    .container-button-headbar {
        margin-left: 1%;
        display: flex;
        flex-direction: row;
    }
    .logo-headbar{
        margin-left: 1%;
    }
} */
.bg-grid{
    background-color: #FFBA33;
}