.container-bg-home{
    background-image: url(./Img/nathan-dumlao-71u2fOofI-U-unsplash\ 2.png);
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    min-height: 645px;
    position: relative;
     /* display:inline-block; */
}
.container-get-started h1{
    color: white;
    font-size: 49px;

}
p{
    color: white;
}
.container-search{
    /* position: relative;  */
    /* margin-top: 100px; */
    display: flex;
}
.container-search .search{
    margin-top: 15px;
    left: 10%;
    min-width: 314px;
    right: 0%;
    
}
.container-get-started{
    margin-left: 10%;
    max-width: 570px;
}
.container-get-started p{
    font-size: 20px;
    margin-top: 40px;
}
.get-started{
    margin-top: 10px;
}